<style>
    * {
        font-family: sans-serif, Helvetica;
        box-sizing: border-box;
    }

    th {
        border: solid 1px;
        text-align: left;
    }

    td {
        border: solid 1px;
        margin-top: 12px;
    }

    p {
        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 2px;
    }

    .page {
        margin-bottom: 2em;
        width: 100%;
        page-break-after: always;
        border-collapse: collapse;
    }

    table td,
    th {
        word-wrap: break-word;
        word-break: break-all;
        border: none;
        padding: 2px 8px;
    }


    .custom-hr {
        border: none;
        height: 2px;
        background-color: #333;
        margin-top: 20px;
    }
</style>

<div class="page" style="width: 100%;">
    <div style="display: flex; justify-content: space-between; align-items: end;">
        [EMPRESA_LOGO]
        <h2 style="color: #555;">CONTROLE DE MALOTES</h2>
    </div>
    <hr style="border: #555 solid 1px; margin-top: 16px;">
    <div>        
        <table style="width: 100%; border: none; padding: 0 0; margin-top: 8px; margin-bottom: 8px;" cellspacing="0">
            <thead>
                <tr style="font-size: 12px; border: none;">
                    <th>Nº malote físico</th>
                    <th>Condomínio</th>
                    <th>Data Saida</th>
                    <th>Data retorno</th>
                    <th>Responsável</th>
                </tr>
            </thead>
            <tbody>
                {{#each condominios}}
                <tr style="font-size: 12px; border: none;">
                    <td>{{#if this.malote_fisico}}{{this.malote_fisico}}{{else}}N/A{{/if}}</td>
                    <td>{{#if this.condominio}}{{this.condominio}}{{else}}N/A{{/if}}</td>
                    <td>{{#if this.data_saida}}{{this.data_saida}}{{else}}N/A{{/if}}</td>
                    <td>{{#if this.data_retorno}}{{this.data_retorno}}{{else}}N/A{{/if}}</td>
                    <td>.................................</td>
                </tr>

                {{/each}}
            </tbody>
        </table>
        {{/each}}
    </div>
    <div style="display: flex; margin-top: 20px; width: 100%; padding: 4px; justify-content: space-between; ">
        <p style="font-size: 9pt; width: 40%; "><strong>Data do recebimento:</strong> ____ / ____ / ________</p>
        <p style="font-size: 9pt; width: 60%; text-align: end;"><strong>Recebido por:</strong>
            _______________________________, <strong>&nbsp;&nbsp;&nbsp;RG:</strong>
            ___________________</p>
    </div>    
</div>